html {
    letter-spacing: 1px;
}

.err-msg {
    color: red;
    font-style: italic;
    text-align: center;
    display: none;
    margin-top: 0;
    margin-bottom: 0;
}

.alert {
    display: none;
    text-align: center;
}

#employee-table {
    border-radius: 5px;
}

input {
    border-radius: 5px;
    padding: 0.15em 0.5em;
}

.table-header {
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 1px;
}

.body-content {
    padding-top: 5em;
}

.pointer {
    cursor: pointer
}